doctype html
html(lang="ja")
    head
        include _meta
        //include components-css
        link(rel="stylesheet",  type="text/css", href="css/index.css", concat-components)
    body
        html-component

        div#main

        script(src='./js/index_bundle.js')
        //include components-js
        script(src='./js/index.js', concat-components)

